{% extends "PolytechJMBundle:Default:layout.html.twig" %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>Election : {{ entity.nom }}</h1>
            <h3>Statut : {% if entity.finished %}Terminée{% elseif entity.started %}En cours{% else %}Pas commencée{% endif %}</h3>

            <h1>Liste des candidats</h1>

            <table class="records_list table table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for candidat in entity.candidats %}
                    <tr>
                        <td><a href="{{ path('crud_candidat_show', { 'id': candidat.id }) }}">{{ candidat.id }}</a></td>
                        <td>{{ candidat.nom }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-default" href="{{ path('crud_candidat_new') }}">
                Créer un nouveau candidat
            </a>

            <ul class="record_actions">
                <li>
                    <a href="{{ path('crud_election') }}">
                        Back to the list
                    </a>
                </li>
                <li>
                    <a href="{{ path('crud_election_edit', { 'id': entity.id }) }}">
                        Edit
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
