{% extends "PolytechJMBundle:Default:layout.html.twig" %}


{% block body %}
    <div class="container">
        <div class="row">
            <h1>Election : {{ entity.nom }}</h1>
            <h3>Statut : {% if entity.finished %}Terminée{% elseif entity.started %}En cours{% else %}Pas commencée{% endif %}</h3>
            <a class="btn btn-default" href="{{ path('crud_election') }}">Retour à la liste des élections</a>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="records_list table table-hover">
                    <thead>
                        <tr>
                            <th>Candidats</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for candidat in entity.candidats %}
                        <tr>
                            <td>{{ candidat.nom }}</td>
                            <td><a class="btn btn-default btn-sm" href="{{ path('crud_candidat_delete_check', { 'id': candidat.id }) }}">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn btn-default" href="{{ path('crud_candidat_new') }}">
                    Ajouter un  candidat
                </a>
            </div>
            <div class="col-sm-6">
                <table class="records_list table table-hover">
                    <thead>
                        <tr>
                            <th>Mentions</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {#{% for mention in entity.mentions %}
                        <tr>
                            <td>{{ mention.nom }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}#}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
