{% extends "PolytechJMBundle:Default:layout.html.twig" %}


{% block body %}
    <div class="container">
        <div class="row">
            <h1>Election : {{ entity.nom }}</h1>
            <h3>Statut : {% if entity.finished %}Terminée{% elseif entity.started %}En cours{% else %}Pas commencée{% endif %}</h3>
            <a class="btn btn-default" href="{{ path('crud_election') }}">Retour à la liste des élections</a>
            {% if not entity.started %}
                <a href="{{ path('crud_election_setStarted', {'id': entity.id}) }}" class="btn btn-success">Commencer le vote</a>
            {% elseif not entity.finished %}
                <a href="{{ path('crud_election_setFinished', {'id': entity.id}) }}" class="btn btn-danger">Terminer le vote</a>
            {% endif %}
            <a class="btn btn-info" href="{{ path('crud_electeur', {'id': entity.id}) }}">Gestion des électeurs</a>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="records_list table table-hover">
                    <thead>
                        <tr>
                            <th>Candidats</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for candidat in entity.candidats %}
                        <tr>
                            <td>{{ candidat.nom }}</td>
                            <td class="text-center">
                            {% if not entity.started %}
                                <a class="btn btn-default btn-sm" href="{{ path('crud_candidat_delete_check', { 'id': candidat.id }) }}">Supprimer</a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if not entity.started %}
                    <a class="btn btn-default" href="{{ path('crud_candidat_new', {'id': entity.id}) }}">
                        Ajouter un  candidat
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <table class="records_list table table-hover">
                    <thead>
                        <tr>
                            <th>Mentions <span style="color: grey; font-weight:normal;">(de la plus favorable à la moins favorable)</span></th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for mention in entity.mentions %}
                        <tr>
                            <td>{{ mention.nom }}</td>
                            <td class="text-center">
                            {% if not entity.started %}
                                <a class="btn btn-default btn-sm" href="{{ path('crud_mention_delete_check', { 'id': mention.id }) }}">Supprimer</a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if not entity.started %}
                    <a class="btn btn-default" href="{{ path('crud_mention_new', {'id': entity.id}) }}">
                        Ajouter une mention
                    </a>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
